<div>
  <span><%= (originalSize / 1024).toFixed(2) %> Kb</span>
  <span class="newSize"><%= (newSize / 1024).toFixed(2) %> Kb</span>
  <span class="newQuality"><%= quality %>%</span>
  <a class="downloadJpeg" href="<%= data64 %>" download="<%= originalname %>">download jpeg</a>
  <button class="compare">Compare</button>
  <dialog>
    <div class="wrapper">
      <img-comparison-slider>
        <img slot="first" src="<%= src %>" data-img1>
        <img slot="second" src="<%= data64 %>" data-img2>
      </img-comparison-slider>
    </div>
    <form action="/optimize" method="post" class="changeQuality">
      <input type="number" min="1" max="100" step="1" value="<%= quality %>" required>
      <button>Change Quality</button>
    </form>
    <form method="dialog" class="dialogControl">
      <button class="close">Close</button>
      <button class="save">Save</button>
    </form>
  </dialog>
</div>