<div data-id="<%= src %>">

  <img-comparison-slider>
    <img slot="first" src="tmp/<%= src %>" data-img1 style="max-width: 1000px;">
    <img slot="second" src="tmp/<%= src %>" data-img2 style="max-width: 1000px;">
  </img-comparison-slider>

  <div>
    <p>Original Size: <%= (size / 1024).toFixed(2) %> Kb</p>
    <p>Jpeg Size: <span data-newSizeJpeg><%= size %> Kb</span></p>
    <p>WebP Size: <span data-newSizeWebp></span></p>
  </div>

  <form action="/optimize" method="post">
    <input type="number" min="1" max="100" step="1" id="quality" required>
    <button id="changeQuality">change quality</button>
  </form>

  <a href="" download="<%= originalNameWithoutExt + originalExt %>" data-downloadJpeg>download jpeg</a>
  <a href="" download data-downloadWebp>download webp</a>

</div>